/slides/intro_CCM.aux
/slides/intro_CCM.log
/slides/intro_CCM.nav
/slides/intro_CCM.out
/slides/intro_CCM.snm
/slides/intro_CCM.synctex.gz
/slides/intro_CCM.toc
/.idea/Causal-Inference.iml
/.idea/copilot.data.migration.ask2agent.xml
/slides/intro_CCM.tex.bak
/main.py
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
